# git history files
.history_rewritten_*
# Eclipse artifacts
.project
.pydevproject
#Vagrant
tools/vagrant/.vagrant/
# Intellij
*.iml
.idea/
.run/
# Visual Studio Code
.vscode/
# Bazel
/bazel-*
# vi swap files
.*.swp
# vi backups
*.bak
# common backups
*~
# python artifacts
*.pyc
vendor
# Contains the built artifacts
out/
# Go compiled tests
*.test
# MacOS extended attributes
._*
# MacOS Desktop Services Store
.DS_Store
# build binaries       
kmesh-cni
kmesh-daemon
kmeshctl

# go test coverage
coverage.out
# build artifacts
*.so
*.o
bpf/kmesh/bpf2go/kmeshcgroupsock_bpfeb.go
bpf/kmesh/bpf2go/kmeshcgroupsock_bpfel.go
bpf/kmesh/bpf2go/kmeshcgroupsockworkload_bpfeb.go
bpf/kmesh/bpf2go/kmeshcgroupsockworkload_bpfel.go
bpf/kmesh/bpf2go/kmeshsockopsworkload_bpfeb.go
bpf/kmesh/bpf2go/kmeshsockopsworkload_bpfel.go
bpf/kmesh/bpf2go/kmeshxdpauth_bpfeb.go
bpf/kmesh/bpf2go/kmeshxdpauth_bpfel.go
bpf/kmesh/bpf2go/kmeshsendmsg_bpfeb.go
bpf/kmesh/bpf2go/kmeshsendmsg_bpfel.go
bpf/kmesh/bpf2go/kmeshsockops_bpfeb.go    
bpf/kmesh/bpf2go/kmeshsockops_bpfel.go
bpf/kmesh/bpf2go/kmeshtracepoint_bpfeb.go
bpf/kmesh/bpf2go/kmeshtracepoint_bpfel.go

bpf/kmesh/bpf2go/kmeshcgroupsockcompat_bpfeb.go
bpf/kmesh/bpf2go/kmeshcgroupsockcompat_bpfel.go
bpf/kmesh/bpf2go/kmeshcgroupsockworkloadcompat_bpfeb.go
bpf/kmesh/bpf2go/kmeshcgroupsockworkloadcompat_bpfel.go
bpf/kmesh/bpf2go/kmeshsendmsgcompat_bpfeb.go
bpf/kmesh/bpf2go/kmeshsendmsgcompat_bpfel.go
bpf/kmesh/bpf2go/kmeshsockopsworkloadcompat_bpfeb.go
bpf/kmesh/bpf2go/kmeshsockopsworkloadcompat_bpfel.go
bpf/kmesh/bpf2go/kmeshxdpauthcompat_bpfeb.go
bpf/kmesh/bpf2go/kmeshxdpauthcompat_bpfel.go

kernel/**/*.ko
kernel/**/*.cmd
kernel/ko_src/kmesh/Module.symvers
kernel/ko_src/kmesh/kmesh.mod
kernel/ko_src/kmesh/kmesh.mod.c
kernel/ko_src/kmesh/modules.order

oncn-mda/build/
oncn-mda/deploy/
test/mugen-master/

