# git history files
.history_rewritten_*
# Eclipse artifacts
.project
.pydevproject
#Vagrant
tools/vagrant/.vagrant/
# Intellij
*.iml
.idea/
.run/
# Visual Studio Code
.vscode/
# Bazel
/bazel-*
# vi swap files
.*.swp
# vi backups
*.bak
# common backups
*~
# python artifacts
*.pyc
vendor
# Contains the built artifacts
out/
# Go compiled tests
*.test
# MacOS extended attributes
._*
# MacOS Desktop Services Store
.DS_Store
# build binaries       
kmesh-cni
kmesh-daemon

# go test coverage
coverage.out
# build artifacts
*.so
*.o
bpf/kmesh/bpf2go/kmeshcgroupsock_bpfeb.go
bpf/kmesh/bpf2go/kmeshcgroupsock_bpfel.go
bpf/kmesh/bpf2go/kmeshcgroupsockworkload_bpfeb.go
bpf/kmesh/bpf2go/kmeshcgroupsockworkload_bpfel.go
bpf/kmesh/bpf2go/kmeshsockopsworkload_bpfeb.go
bpf/kmesh/bpf2go/kmeshsockopsworkload_bpfel.go
bpf/kmesh/bpf2go/kmeshxdpauth_bpfeb.go
bpf/kmesh/bpf2go/kmeshxdpauth_bpfel.go
bpf/kmesh/bpf2go/kmeshsendmsg_bpfeb.go
bpf/kmesh/bpf2go/kmeshsendmsg_bpfel.go
oncn-mda/build/
oncn-mda/deploy/
test/mugen-master/
