# This files contains all configuration options for analysis running.
# More details please refer to: https://golangci-lint.run/usage/configuration/

run:
  # timeout for analysis, e.g. 30s, 5m, default is 1m
  timeout: 30m

  # which dirs to skip: issues from them won't be reported;
  # can use regexp here: generated.*, regexp is applied on full path;
  # default value is empty list, but default dirs are skipped independently
  # from this option's value (see skip-dirs-use-default).
  # "/" will be replaced by current OS file path separator to properly work
  # on Windows.
  skip-dirs: []

  # default is true. Enables skipping of directories:
  #   vendor$, third_party$, testdata$, examples$, Godeps$, builtin$
  skip-dirs-use-default: true

  # One of 'readonly' and 'vendor'.
  #  - readonly: the go command is disallowed from the implicit automatic updating of go.mod described above.
  #              Instead, it fails when any changes to go.mod are needed. This setting is most useful to check
  #              that go.mod does not need updates, such as in a continuous integration and testing system.
  #  - vendor: the go command assumes that the vendor directory holds the correct copies of dependencies and ignores
  #            the dependency descriptions in go.mod.
  modules-download-mode: readonly
linters:
  enable:
    # linters maintained by golang.org
    - gofmt
    - goimports
    - govet
    # linters default enabled by golangci-lint .
    - errcheck
    - gosimple
    - ineffassign
    - staticcheck
    - typecheck
    - unused
    # other linters supported by golangci-lint.
    #- gocyclo
    #- gosec
    # - gci
    - misspell
    - whitespace
    #- revive

linters-settings:
  goimports:
    local-prefixes: kmesh.net
  gocyclo:
    # minimal cyclomatic complexity to report
    min-complexity: 15
  gci:
    sections:
      - standard # Captures all standard packages if they do not match another section.
      - default # Contains all imports that could not be matched to another section type.
      - prefix(kmesh.net) # Groups all imports with the specified Prefix.
issues:
  # List of regexps of issue texts to exclude, empty list by default.
  # But independently from this option we use default exclude patterns,
  # it can be disabled by `exclude-use-default: false`. To list all
  # excluded by default patterns execute `golangci-lint run --help`
  exclude:
    - composite literal uses unkeyed fields
  # Which files to exclude: they will be analyzed, but issues from them won't be reported.
  # There is no need to include all autogenerated files,
  # we confidently recognize autogenerated files.
  # If it's not, please let us know.
  # "/" will be replaced by current OS file path separator to properly work on Windows.
  # Default: []
  exclude-files:
    - ".*\\.pb\\.go"
    - ".*\\.gen\\.go"
  exclude-rules:
    # Exclude some linters from running on test files.
    - path: _test\.go$|^tests/|^samples/
      linters:
        - errcheck
        - maligned
    - path: _test\.go$
      text: "dot-imports: should not use dot imports"
    # We need to use the deprecated module since the jsonpb replacement is not backwards compatible.
    - linters:
        - staticcheck
      text: "SA1019: package github.com/golang/protobuf/jsonpb"
    - linters:
        - staticcheck
      text: 'SA1019: "github.com/golang/protobuf/jsonpb"'
    # This is not helpful. The new function is not very usable and the current function will not be removed
    - linters:
        - staticcheck
      text: 'SA1019: grpc.Dial is deprecated: use NewClient instead'
    - linters:
        - staticcheck
      text: 'SA1019: grpc.DialContext is deprecated: use NewClient instead'
    - linters:
        - staticcheck
      text: "SA1019: grpc.WithBlock is deprecated"
    - linters:
        - staticcheck
      text: "SA1019: grpc.FailOnNonTempDialError"
    - linters:
        - staticcheck
      text: "SA1019: grpc.WithReturnConnectionError"
  # Independently from option `exclude` we use default exclude patterns,
  # it can be disabled by this option. To list all
  # excluded by default patterns execute `golangci-lint run --help`.
  # Default value for this option is true.
  exclude-use-default: true
  # Maximum issues count per one linter.
  # Set to 0 to disable.
  # Default: 50
  max-issues-per-linter: 0
  # Maximum count of issues with the same text. Set to 0 to disable. Default is 3.
  max-same-issues: 0
