.cncfContainer {
    text-align: center;
    margin: 2rem 0 1rem 0; 
    padding: 1.5rem 1rem 0 1.3rem; 
  }
  
  .cncfText {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    line-height: 1.5;
  }
  
  .cncfLogo {
    margin: 0 auto;
    max-width: 500px;
  }
  
  .cncfLine1 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
  }
  
  .cncfLine2 {
    font-size: 1.8rem;
  }
  