.whyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reasonBoxContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.reasonBox {
  flex-basis: 33.333%;
  padding: 0 15px;
  margin-bottom: 2rem;
}

.reasonTitle {
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: center;
}

.reasonContent {
  font-size: 0.9rem;
  white-space: pre-wrap;
  text-align: center;
}

// Responsive styles
@media screen and (max-width: 768px) {
  .reasonBox {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 480px) {
  .reasonBox {
    flex-basis: 100%;
  }
}