name: E2E IPv6 Test(istio 1.24)
on: 
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.svg'
      - '**.png'
jobs:  
  e2e-ipv6-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.23' ]
    name: E2E IPv6 Test
    timeout-minutes: 40

    steps:
    - name: Free Disk Space
      uses: jlumbroso/free-disk-space@v1.3.1
      with:
        tool-cache: false
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true

    - uses: actions/checkout@v3
    - name: Setup Go
      uses: actions/setup-go@v4.0.0
      with:
        go-version: ${{ matrix.go-version }}
    - name: E2E IPv6 Test
      shell: bash
      run: |
        sudo ISTIO_VERSION="1.24.0" make e2e-ipv6